html, body, * {
  margin: 0;
  padding: 0;
}

* {
  font-family:mainMilkMoney, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: robobo;
  src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: milkMoney;
  src: url(./assets/fonts/lemon_milk/LEMONMILK-Bold.otf);
}

@font-face {
  font-family: mainMilkMoney;
  src: url(./assets/fonts/lemon_milk/LEMONMILK-Light.otf);
}
@font-face {
  font-family: roboBold;
  src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: paraFont;
  src: url(./assets/fonts/lemon_milk/LEMONMILK-Regular.otf);
}

h2{
  font-family: milkMoney, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  display:block; 
  height: 100vh;
}

.container{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  height: inherit;
  max-height: inherit;
}

.sidebar{
  display:grid;
  border: 1px solid lightblue;
  background-color: rgb(103 125 195);
  color: white;
  height: inherit;
}

.dashboard-main{
  display: grid;
  /* grid-template-rows: 1fr .2fr; */
  place-content: center;
  padding: 0rem 0rem 1rem 0rem;
  justify-self: center;
}

#logo-go{
  max-height: 7rem;
  max-width: 7rem; 
}

.shadow{
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  filter: drop-shadow( 3px 3px 4px blue) saturate(9.5);
  /* Similar syntax to box-shadow */

}

.dashboard-child{
  display: inherit;
  max-height: fit-content;
  justify-items: center;
}

.user-menu-list, .setting-list{
  list-style-type: none;
  margin: 0;
  display: grid;
  gap: 1rem; 
}
li{
  margin: 0;  
  padding: 0 1rem;
  display: grid;
  grid-template-columns: .5fr 3fr;
  gap:0.5rem;
}

li:hover{
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  font-size: 1.1rem;
}

li > div > p {
  display:inline-flex;
  align-items: center;
}

li > img{
  max-width: 40px;
  max-height: 40px;
}

.user-menu, .settings{
  width: -webkit-fill-available;
}

.main-bar{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr;
  height: inherit;
  max-height: inherit;
  overflow-x: hidden;
}

.header{
  display: grid;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid #add8e6;
}

.header-intro{
  display: grid;
  gap: 1rem;
}
.header-intro > div{
  padding: 0 5%;
}

.header-alerts{
  display: grid;
  gap: 1rem;
}

.alert-icons{
  display: grid;
  width: 100%;
  height: min-content;
  max-height: min-content;
}

ul#alert-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: end;
  /* max-width: inherit; */
}

#alert-list > li {
  display: inline-flex;
  height: min-content;
  padding-top: 5px;
  flex-direction: row-reverse;
}
.sign-off{
  display: inline-flex;
  justify-content: flex-end;
  height: min-content;
}

.sign-off >div{
  display: inline-flex;
  align-items: end;
  padding-right: 1rem;
}

#log-off > p{
  display: inline-flex;
  align-items: center;
}
.sign-off:hover{
  -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
  font-size: 1.1rem;
}

.main-content{
  display: grid;
  grid-template-columns: 2fr .75fr; 
  background-color: rgb(141 161 226 / 16%);
  font-family: robobo;
  padding-bottom: 40px;
}

.account-summary {
  display: grid;
  grid-template-rows: 1fr 16fr;
}

.account-header{
  padding-left: 1rem;
}

.account-summary, .trader-tools {
  padding-left: 1rem;
}
.cards {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

h5{
  font-size:inherit;    
}

.single-card{
  display: grid;
  box-shadow:  2px 1px 5px darkgrey;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 1rem;
  padding-left: .75rem;
  padding-right: 0.75rem;
  height: calc(55% + 44%);
  background-color: white;
  border-radius: 15px;
  border-left: 6px solid lightpink;
}
.card-header{
  align-self: end;
}
.card-para > p{
  font-family: robobo;
}

.inner-ann > p {
  font-family: robobo;
}

.card-icons > div > img{
  max-width: 40px;
  max-height: 40px;
}

.card-icons > div:hover{
  font-size: 1rem;
}


.card-icons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-self: right;
  gap: 1rem;
}

.tools{
  display: grid;
  grid-template-rows: 2.5fr 1fr;
  gap: 20px; 
  padding-left: 1rem;
}

#tool-header-1, .title-trending{
  display:flex;
  padding-left: 1rem;
}

.announcements{
  display: grid;
  grid-template-rows: 1.5fr 16fr;   
  font-size: 15px;

}

.announcements p {
  font-family: 'robobo';
}

.inner-ann > div{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-block-end: 3px solid darkslateblue;
  writing-mode: horizontal-tb;
}

.outer-padding-inner-ann{
  display: flex;
  position: relative;
  margin-left: 15px;
  max-width: calc(100% - 50px);
  justify-content: center;
  background-color: white;
  border-radius: 15px;
}

h6{
  font-size: 15px;
}

.inner-ann{
  display: flex;
  position: relative;
  display: grid;
  max-width: calc(100% - 50px);
  justify-self: center;
  gap: 15px;
}

.trending-padding{
  display: grid;
  margin-left: 15px;
  max-width: calc(100% - 50px);
}
.trending{
  display: grid;
  gap: 15px;
}

.names-trending{
  display:grid;
  gap: 12px;
  padding: 1rem;
  background-color: white;
  border-radius: 15px;
}

.avatar-box{
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  max-width: fit-content;
}

.avatar-name:hover{
  font-size: .9rem;
}
.avatar-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 9px;
}

.avatar{
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* @media only screen and (max-width: 600px) {
  
} */